<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LoanProductApplication/src/product/AppStarter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="product.AppStarter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="Action NEW productType Loan startDate 12/3/2023 endDate 3/4/2024 rate 12.4 totalValue 1200000 schedule 1/4/2023=1234.4/3/2024=4321.1/2/2024=4532"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LoanProductApplication"/>
</launchConfiguration>
